.text-color{
    color:white;
    font-weight: 600;
  }
  
  .right{
    float: right;
  }
  
  .alert-info{
    margin-bottom: 0;
  }
  



  .margin{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  details p {padding: 0 1em;}
  
  p{
    color: #949494;
  }
  
  .rounded-corner{
    padding-top: 3rem;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #b3e5f1ea;
    margin:0;
    height: 100vh;
  }
  
  .color{
    color: #949494;
    font-weight: 600;
  }
  
  a{
    text-decoration: none;
  }
  
  ion-avatar {
    width: 80px;
    height: 80px;
  }
  
  .map{
    float: right;
  }
  .size{
    font-size: 3.5rem;
  }
  
  .location-content{
    color:#949494;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
 
  
  .fab-inner{
    font-weight: 600;
    font-size: 2rem;
  }
  
  .ionchip{
    left: -4em;
    background-color: #ffc409;
  }
  .bottom{
    position: fixed;
  
  }


  .label-color{
    color:#6a64ff;
  }
  
  .alertstyle{
    width: 100%;
    margin-top: 1rem;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
  
  }
  
  .small{
    font-weight: 600;
  }
  
  
  .item{
    margin:10px auto;
  }

  .below-header {
    margin-left: 23px;
    margin-bottom: 14px;
  }
  