<ion-header translucent>
  <ion-toolbar>
    <ion-title>Roaster Info</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='dismissTripInfo()'>Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<div slot="fixed" style="width: 100%;">
    

<div  >
    <ion-list >
      <ion-item lines="none" >
      
        <ion-label class="color" >
          <h1>10 May</h1>
   
           
        </ion-label>
   
        <div class="map">
          <ion-button color="success" >Save</ion-button>
          
        
        </div>
      </ion-item>

      

    </ion-list>
  </div>

    <div class="rounded-corner" >
  <div class="below-header">
      <ion-label class="label-color"> NA - NA SLK Soft Campus SEZ - Unit 1</ion-label>
    </div>
      <div class="margin">
        <ion-list lines="none">
  
        <ion-item >
          
          <ion-label class="label-color" >Drop Location</ion-label>
          <ion-select class="custom-options">
            <ion-select-option value="SLK Soft Campus SEZ-Unit 1">SLK Soft Campus SEZ-Unit 1</ion-select-option>
            <ion-select-option value="SLK Soft Campus SEZ-Unit 2">SLK Soft Campus SEZ-Unit 2</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label class="label-color">Login Time</ion-label>
          <ion-select class="custom-options">
            <ion-select-option value="8:00 , 10 May">8:00 , 10 May</ion-select-option>
            <ion-select-option value="9:00 , 10 May">9:00 , 10 May</ion-select-option>
            <ion-select-option value="10:00 , 10 May">10:00 , 10 May</ion-select-option>
            <ion-select-option value="11:00 , 10 May">11:00 , 10 May</ion-select-option>
            <ion-select-option value="12:00 , 10 May">12:00 , 10 May</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label class="label-color">Logout Time</ion-label>
          <ion-select class="custom-options">
            <ion-select-option value="8:00 , 10 May">8:00 , 10 May</ion-select-option>
            <ion-select-option value="9:00 , 10 May">9:00 , 10 May</ion-select-option>
            <ion-select-option value="10:00 , 10 May">10:00 , 10 May</ion-select-option>
            <ion-select-option value="11:00 , 10 May">11:00 , 10 May</ion-select-option>
            <ion-select-option value="12:00 , 10 May">12:00 , 10 May</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item >
          <ion-label class="label-color">Remarks</ion-label>
          <ion-select class="custom-options">
            <ion-select-option value="Business Need">Business Need</ion-select-option>
            <ion-select-option value="Personal Need">Personal Need</ion-select-option>
            <ion-select-option value="Emergency">Emergency</ion-select-option>
            <ion-select-option value="Others">Others</ion-select-option>
          </ion-select>
        </ion-item>
        </ion-list>

      
    </div>
  </div>


 

</div>
</ion-content>
