ion-card-subtitle{
  font-weight: 600;
}

ion-card-title{
  font-weight: 600;
}

.bookmarkRibbon {
  width: 105px;
  height: 0;
  border-bottom: 20px solid #045089;
  border-top: 20px solid #045089;
  border-left: 15px solid transparent;
  float: right;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight:700;
  position: absolute;
  right: 0px;
  top: 20px;
  z-index: 999;
}

.bookmarkText{
  color:#ffffff;
  position: relative;
  top: -11.5px;
  text-align: center;
  right: -18px;
  z-index: 999;
}

ion-card{
  cursor: pointer;
}
