.alert-wrapper {
  background: #e5e5e5;
}

.edit-address{
  float: right;
  cursor: pointer;
}

.alertstyle{
  width: 100%;
  margin-top: 1rem;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 15px;
}

.update-address{
  margin: 0 0.55rem 0 0.55rem;
}






