.modal-wrapper {
  background: #222;
}

.my-custom-class .modal-wrapper {
  background: #222;
}

:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

.logo{
  height: 50%;
  width: 64%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: block;
}




/**Desktop Query*/
@media only screen and (min-width: 768px) {
  .content{

    border-radius: 10px;
    padding: 40px 30px;
    width: 38%;
    margin: auto;
    margin-top: 15px;
  
    // margin: auto;
    //   padding: 24px;
    //   margin-top: 15px;
  
    // box-shadow: -3px -3px 7px #ffffff73,
    //             2px 2px 5px rgba(94, 104, 121, 0.288);
  }
  
}

/*Tablet Query*/
@media only screen and (min-width: 481px) and (max-width:768px) {
  .content{

    // border-radius: 10px;
    // padding: 40px 30px;
    // width: 38%;
    // margin: auto;
    // margin-top: 15px;
  
    margin: auto;
      padding: 24px;
      margin-top: 15px;
  

  }
  
}

/*Mobile Query*/
@media only screen and (max-width:480px) {
  .content{

    // border-radius: 10px;
    // padding: 40px 30px;
    // width: 38%;
    // margin: auto;
    // margin-top: 15px;
  
    margin: auto;
      padding: 24px;
      margin-top: 15px;
  

  }
}


// margin: auto;
// padding: 24px;
// margin-top: 15px;

.content .text{
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #000;
}

.content .field{
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.field input{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #595959;
  background: #dde1e7;
  border-radius: 8px;
  // box-shadow: inset 2px 2px 5px #babecc,
  //             inset -5px -5px 10px #ffffff73;
}

.field input:focus ~ label{
  box-shadow: inset 2px 2px 5px #babecc,
              inset -1px -1px 2px #ffffff73;
}

.field:nth-child(2){
  margin-top: 20px;
}

.field span{
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: #595959;
}
span{
  padding-top:0.2rem;
  padding-left:1rem;
}

.field label{
  position: absolute;
  top: 50%;
  left: 45px;
  pointer-events: none;
  color: #666666;
  transform: translateY(-50%);
}


.field input:focus ~ label{
  opacity: 0;
}

.forgot-pass{
  text-align: left;
  margin: 10px 0 10px 5px;
}

.forgot-pass a{
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}

.forgot-pass:hover a{
  text-decoration: underline;
}

button{
  background:#6a64ff;
  color: #fff;
  margin: 16px 0 0;
  padding: 10px 40px;
  width: 100%;
}

button:hover{

  background:#6A64D7;
}

.signup{
  font-size: 16px;
  color: #595959;
  margin: 10px 0;
}

.signup a{
  color: #000;
  text-decoration: none;
}

.signup a:hover{
  text-decoration: underline;
}
