<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cab Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gesture__zone">

<ion-segment (ionChange)="segmentChanged($event)" value={{currentSegmentValue}} color="primary" >
  <ion-segment-button value="Schedules" class="btn-color">
    <ion-label>Schedules</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Active" class="btn-color">
    <ion-label>Active</ion-label>
  </ion-segment-button>
</ion-segment>


<div *ngIf="currentSegmentValue === 'Active'" >
  <app-active-trips></app-active-trips>
</div>

<div *ngIf="currentSegmentValue === 'Schedules'" >
  <app-scheduled-trip></app-scheduled-trip>
</div>




</ion-content>
