<ion-header translucent>
  <ion-toolbar>
    <ion-title>Admin Helpdesk</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='dismiss()'>Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item class="call-person">
      <ion-icon name="business-outline" class="call-person"></ion-icon>
      Transport coordinator mobile 1
    </ion-item>
    <ion-card-content>
      <ion-label color="primary" class="tele">
        <ion-icon name="call"></ion-icon>
        <a  href="tel:9304387089">  9304387089</a>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item class="call-person">
      <ion-icon name="business-outline" class="call-person"></ion-icon>
      Transport coordinator mobile 2
    </ion-item>
    <ion-card-content>
      <ion-label color="primary" class="tele">
        <ion-icon name="call"></ion-icon>
        <a href="tel:8123969683">  8123969683</a>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
