<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fleet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">fleet</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-item>
      <ion-icon name="person" slot="end" color="medium"></ion-icon>
      <ion-chip  color="primary">
        <ion-label class="label-color">{{ userInfo.firstName }} {{userInfo.middleName}} {{userInfo.lastName}}</ion-label>
      </ion-chip>
    </ion-item>

    <ion-card-content>
      Employee ID: {{userInfo.employeeId}}
    </ion-card-content>
  </ion-card>

  <ion-list>

    <ion-item>
      <ion-label color="primary" (click)="showModalProfile()" >
        <ion-icon name="person" > </ion-icon>
          Profile
        </ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" >
        <ion-icon name="navigate"></ion-icon>
          Special Request
        </ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" (click)="showModalAdminHelpdesk()">
        <ion-icon name="call"></ion-icon>
          Admin Helpdesk
        </ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" (click)="showModalTechSupport()">
        <ion-icon name="laptop"></ion-icon>
          Tech Support
        </ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary" routerLink="/login">
        <ion-icon name="log-out"></ion-icon>
          Logout
        </ion-label>
    </ion-item>

  </ion-list>


</ion-content>

<ion-footer class='bar-stable'>
  <ion-item>
    <ion-label color="primary">
      <ion-icon name="bulb"></ion-icon>
      Dark Mode
    </ion-label>
    <ion-toggle slot="end" name="darkMode" [disabled]="darkmodeFlagAuto" (click)="toggleDarkModeHandler($event)" color="tertiary"></ion-toggle>
  </ion-item>

  <ion-item>

    <ion-label color="primary">
      <ion-icon name="moon"></ion-icon>
      Auto
    </ion-label>
    <ion-toggle slot="end" *ngIf="autoDarkModeEnabled" name="darkMode" [disabled]="darkmodeFlag" (click)="toggleDarkModeAutoHandler($event)" color="tertiary" checked></ion-toggle>
    <ion-toggle slot="end" *ngIf="!autoDarkModeEnabled" name="darkMode" [disabled]="darkmodeFlag" (click)="toggleDarkModeAutoHandler($event)" color="tertiary"></ion-toggle>
  </ion-item>
  </ion-footer>
