ion-toggle {
  --background: #000;
  --background-checked: #7a49a5;

  --handle-background: #7a49a5;
  --handle-background-checked: #000;
}
.label-color{
  color:#6a64ff;
}

.alertstyle{
  width: 100%;
  margin-top: 1rem;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 15px;

}

.small{
  font-weight: 600;
}

