<ion-header translucent>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='dismiss()'>Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <ion-item>
      <ion-icon name="person" slot="end"></ion-icon>
      <ion-chip  color="primary">
        <ion-label class="label-color">
          {{ userInfo.firstName +" "+ userInfo.middleName +" "+ userInfo.lastName }}
        </ion-label>
      </ion-chip>
    </ion-item>

    <ion-card-content>
      Employee ID: {{ userInfo.employeeId }}
    </ion-card-content>
  </ion-card>

  <ion-list>

    <ion-item>
        <ion-label class="label-color">Location Tracking</ion-label>
        <ion-toggle *ngIf="userInfo.allowTracking" slot="end" name="LocationTracking" color="tertiary" checked></ion-toggle>
        <ion-toggle *ngIf="!userInfo.allowTracking" slot="end" name="LocationTracking" color="tertiary"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label class="label-color">Address: </ion-label>
      <ion-button>
        Edit Address
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <div class="alert alert-primary alertstyle" role="alert">
        <strong><small class="small">Pickup Address: </small></strong><br>
          {{userInfo.pickUpAddress}}
      </div>
    </ion-item>

    <ion-item>
      <div class="alert alert-primary alertstyle" role="alert">
        <strong><small class="small">Drop Address: </small></strong><br>
          {{userInfo.dropAddress}}
      </div>
    </ion-item>

    <ion-item>
      <div class="alert alert-primary alertstyle" role="alert">
        <strong><small class="small">Pickup Nodal: </small></strong><br>
          {{userInfo.pickUpNodalAddress}}
      </div>
    </ion-item>

    <ion-item>
      <div class="alert alert-primary alertstyle" role="alert">
        <strong><small class="small">Drop Nodal: </small></strong><br>
          {{userInfo.dropNodalAddress}}
      </div>
    </ion-item>



  </ion-list>

</ion-content>
